body {
    font-family: 'Courier Prime', serif;
    margin: 0 10%;
    font-size: 14px;
  }
  
header h1 {
    text-align: center;
    font-size: 32px;
}

  .color {
    border: 2px solid #554115;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
  }

  .color h2 {
    text-align: center;
    font-size: 26px;
  }

  .color-container {
    width: 100%;
  }
  
  .color-label {
    display: inline-block;
    width: 32%;
    text-align: center;
    font-weight: bold;
    margin: 20px auto;
    min-height: 100px;
  }
  
  .DarkKhaki {
    background-color: #BDB76B;
    color: #fff;
    border-radius: 20px;
  }
  
  .BurlyWood {
    background-color: #DEB887;
    color: #000;
    border-radius: 20px;
  }
  
  .Beige {
    background-color: #F5F5DC;
    border-radius: 20px;
  }
  
  .LightGray {
    background-color: #D3D3D3;
    border-radius: 20px;
  }

  .Khaki {
    background-color: #F0E68C;
    border-radius: 20px;
  }

  .SaddleBrown {
    background-color: #8B4513;
    color: #fff;
    border-radius: 20px;
  }

  .font {
    border: 2px solid #554115;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
  }

  .font h2 {
    text-align: center;
    font-size: 26px;
  }
  
  .font-label {
    width: 45%;
    display: inline-block;
  }
  
  .font-name {
    font-size: 16px;
    text-decoration: underline;
  }
  
  .regular {
    font-style: normal;
  }

  .bold {
    font-weight: 700;
  }
  
  .italic {
    font-style: italic;
  }
  
  .alegreya {
    font-family: 'Alegreya Sans', sans-serif;
  }
  
  .courier {
    font-family: 'Courier Prime', serif;
  }
  
  .mali {
    font-family: 'Mali', sans-serif;
  }
  
  .text-style {
    border: 2px solid #554115;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
  }

  .text-style h2 {
    text-align: center;
    font-size: 26px;
  }

  .text-label h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Alegreya Sans', sans-serif;
  }
  
  .text-label h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Mali', sans-serif;
    text-align: left;
  }
  
  .text-label p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Courier Prime', serif;
  }

  